{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="my-4">Izmeni oglas</h1>
                <blockquote>{{ ad.title }}</blockquote>
            </div>
        </div>
    </div>
{% endblock %}